body{
	width: 1920px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#title{
	font-family: 'Roboto Mono', monospace;
	background: #FF9100;
	margin-top: 0px;
	margin-bottom: 100px;
	color: white;
	font-size: 50px;
	height: 75px;
}

.info{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(17, 80, 103, 0.05);
	width: 1650px;
	height: 200px
	color: black;
	outline: 0px;
	border: none;
}

#email{
	outline: 0px;
	background: white;
	border-color: gray;
	margin-left: auto;
	margin-top: 100px;
	margin-right: auto;
	border-width: 3px;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 5px;
	height: 30px;
	width: 500px;
	border-radius: 10px 10px 10px 10px;
}

#password{
	outline: 0px;
	background: white;
	border-color: gray;
	margin: 0px -45px  0px;
	border-width: 3px;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 5px;
	height: 30px;
	width: 500px;
	border-radius: 10px 10px 10px 10px;
}


.label{
	margin-left: 400px;
	margin-right: 100px;
}


#select{
	width: 300px;
	outline: 0px;
	height: 40px;
	margin-left: 150px;
	padding-left: 100px;
	font-size: 20px;
	background-color: rgba(0, 0, 232, 0.7);
	border-radius: 5px 5px 5px 5px;
	color: rgb(255, 255, 255);
	border-width: 3px;
	font-weight: bolder;
	border-top-color: rgba(230, 230, 230, 0.7);
	margin-bottom: 100px;
	outline: 0px;
}


.text{
	width: 750px;
	font-size: 18px;
	height: 150px;
	margin-left: 100px;
	border-radius: 10px 10px 10px 10px;
	border-color: rgba(0, 0, 255, 0.3);
	border-width: 3px;
	background-color: rgba(50, 50, 50, 0.03);
	outline: 0px;
}

#submit{
	background-color: #FF9100;
	text-align: center;
	padding: 15px 32px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 10px 10px 10px 10px;
	color: white;
	border: none;
	width: 300px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 650px;
	margin-top: 100px;
	margin-bottom: 100px;
	display: inline-block;
	letter-spacing: 5px;
}


.wrap{
	margin-left: 200px;
	margin-right: auto;
}

#Q{
	margin-left: 100px;
}

.radio{
	margin-left: 250px;
	margin-bottom: 100px;

}

#points{
	margin-left: 100px;
	margin-right: 100px;
}
